---
layout: page
title: "PyAnnote"
description: "Python module for collaborative annotation of multimodal documents"
tagline: "Python module for collaborative annotation of multimodal documents"
group: navigation
---
{% include JB/setup %}

<p>PyAnnote is a Python module for collaborative annotation of multimodal documents.</p>

<p>Visit the <a href="http://packages.python.org/PyAnnote/">official PyAnnote webpage</a> for source code, tutorial and API documentation.</p>

<h2>Latest news</h2>

{% assign posts_list = site.tags.pyannote %}
{% for post in posts_list  %}
	<li><span>{{ post.date | date: "%B %e, %Y" }}</span> &raquo; <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}
{% assign posts_list = nil %}
